header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f6f6f6;
    z-index: 100;
    height: fit-content;
    padding: 6px 0;
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
}

.header-container{
    display: flex;
    width: 1250px;
    justify-content: space-between;
    align-items: center;
}

.header-container div{
    display: flex;
    align-items: center;
}

.header-container button{
    border: 2px solid transparent;
    background: transparent;
    font-size: 15px;
    cursor: pointer;
    margin: 0 8px;
    border-radius: 8px;
    transition: 250ms;
}
.gray-border,
.blue-border,
.pink-border,
.purple-border{
    padding: 8px 12px;
}
.gray-border:hover{
    border: 2px solid lightgray;
}
.blue-border:hover{
    border: 2px solid #bce7fc;
    color: #00aeff;
}
.pink-border:hover{
    border: 2px solid #f9b9e4;
    color: #ff00a6;
}
.purple-border:hover{
    border: 2px solid #e3b8f8;
    color: #a900ff;
}
.search-button{
    border: 2px solid transparent;
    padding: 2px 8px;
}
.forecast-button{
    border: 2px solid transparent;
    padding: 2px 8px;
}

.search-button img,
.forecast-button img{
    height: 32px;
}
.search-button:hover{
    border: 2px solid dimgray;
}
.forecast-button:hover{
    border: 2px solid #a7c957;
}

.wk-logo{
    height: 34px;
    cursor: pointer;
}

.pfp{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 0 6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    transition: 250ms;
    object-position: bottom;
    object-fit: cover;
}
.pfp:hover{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35);
}

.review-forecast-container{
    position: absolute;
    top: 62px;
    width: fit-content;
    height: fit-content;
    padding: 0.4em;
    background: #1e1e34;
    border: 2px solid #191a41;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
    visibility: hidden;
    opacity: 1;
    z-index: 1;
}

.forecast-card{
    position: relative;
    width: 220px;
    height: fit-content;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    transition: scale 250ms;
}
.forecast-card:hover{
    scale: 1.05;
}

.forecast-card-header{
    width: 100%;
    background: linear-gradient(to bottom, #292948, #22223b);
    color: #FEFEFE;
    text-shadow: 1px 1px black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.forecast-card-grid{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
.forecast-card-grid-item p:first-child{
    border-right: 2px solid floralwhite;
}

.forecast-card-grid-item{
    background: #383861;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    padding: 0.5em;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
}
.forecast-card-grid-item p{
    color: #FEFEFE;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.display-none{
    display: none;
}