h3{
    font-size: 1.5rem;
}
.first-word{
    font-weight: 700;
}
.note-text{
    color: #437680;
    cursor: pointer;
}

/*Welcome back section*/
.welcome-back-section{
    width: fit-content;
    max-width: 1000px;
    margin-inline: auto;
    padding: 0.5em 2em;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px black;
    cursor: default;
}

.username{
    color: rebeccapurple;
    font-weight: 700;
}


/*Reviews and lessons section*/
.reviews-lessons-container{
    max-width: 1000px;
    display: flex;
    margin-inline: auto;
    column-gap: 2em;
}

.lessons-button,
.reviews-button{
    width: 50%;
    position: relative;
    box-shadow: 0 0.12em 1px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: 300ms;
}

.lessons-button:active,
.reviews-button:active{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35);
}

.lessons-button:hover,
.reviews-button:hover{
    transform: scale(1.03);
}

.lessons-button img,
.reviews-button img{
    width: 100%;
    margin-top: 5%;
}

.lessons-button{
    background: #D3DEDC;
}

.reviews-button{
    background: #BAABDA;
}

.button-info{
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    margin-inline: 10%;
    font-size: 24px;
    color: #FFFFFF;
}

.button-info p{
    font-weight: bold;
    text-shadow: 1px 1px black;
    margin: 0;
    border: 2px solid #595d5d;
    border-radius: 12px;
    padding: 4px 8px;
    background-color: #a2aba9;
}

.button-info-reviews p{
    border: 2px solid #776c99;
    background-color: #a091cc;
}


/*Extra study*/
.extra-study-container{
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
}
.extra-study-container h3{
    margin-top: 1em;
    font-weight: 700;
}

.extra-study-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra-study-button-container{
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    min-width: 50%;
}

.extra-study-button-container button{
    border: 2px solid transparent;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 12px;
    width: 80%;
    white-space: nowrap;
    transition: 300ms;
}
.extra-study-button-container button img{
    height: 32px;
}

.extra-study-button-container button:hover{
    background: #e1d2ff;
}

.extra-study-image-container{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    width: fit-content;
}
.extra-study-image-container img{
    width: 100%;
    max-height: 80%;
    object-fit: contain;
}



/*Level progress section*/
.level-progress-container{
    margin-top: 2em;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}
.level-progress-container h3{
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.75em;
}

.progressbar-border{
    margin-top: 0.75em;
    width: 95%;
    height: 35px;
    border: 2px solid black;
    border-radius: 12px;
    overflow: hidden;
    margin-inline: auto;
}

.progressbar-fill{
    width: 50%;
    height: inherit;
    background: #d3dedc;
    border-radius: 2px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 1em;
    text-shadow: 1px 1px #adbebb;
}

.moji-container{
    margin-top: 2em;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-inline: auto;
}
.moji-grid{
    width: 100%;
    margin-top: 0.75em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, auto));
    column-gap: 1em;
    row-gap: 2.25em;
    padding-bottom: 1.5em;
    transition: visibility 300ms;
}
.moji-cell{
    padding: 0.2em;
    position: relative;
    background-image: linear-gradient(to top, #82c0cc, #82c0cc);
    color: #FEFEFE;
    text-shadow: 1px 1px #437680;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 34px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: inset 0 -1px 1px 1px rgba(0, 0, 0, 0.35);
    transition: 300ms;
}
.moji-kanji{
    background-image: linear-gradient(to top, #9D3C72, #9D3C72);
    color: #FEFEFE;
    text-shadow: 1px 1px black;
}
.moji-vocab{
    background-image: linear-gradient(to bottom, #c8b6ff, #b2a1e8);
    color: #FEFEFE;
    text-shadow: 1px 1px black;
}

.moji-cell:hover{
    transform: scale(1.1);
    z-index: 100;
}

.moji-cell:active{
    transform: none;
}

.moji{
    height: 100%;
    width: 100%;
    border: 1px solid green;
}

.moji-progress-container{
    position: absolute;
    height: 20px;
    bottom: -24px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    pointer-events: none;
}

.moji-checked,
.moji-unchecked{
    height: 10px;
    width: 10px;
    border-radius: 2px;
    margin: 1px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.85);
}

.moji-checked{
    background: #a3f7b5;
}
.moji-unchecked{
    background: #f1f1f1;
}

.moji-cell:hover .moji-tooltip{
    animation: tooltip 300ms ease forwards;
}

.moji-tooltip{
    z-index: 100;!important;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background: #FEFEFE;
    color: black;
    border-radius: 12px;
    box-shadow: 1px 1px 1px black;
    left: -50%;
    transform: translateX(50%);
    top: 105%;
    min-width: 150px;
    min-height: 55px;
    font-size: 20px;
    opacity: 0;
    pointer-events: none;
}

.dark-screen{
    z-index: 100;
    position: fixed;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.moji-extra-info-container{
    position: relative;
    height: fit-content;
    width: 800px;
    background: white;
    display: none;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    overflow: hidden;
    z-index: 100;
    cursor: default;
}

.moji-extra-info-left{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.moji-extra-info-left a{
    text-decoration: none;
    cursor: help;
}

.moji-extra-info-left h1{
    font-size: 124px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 1px 1px 1px black;
    width: 1.5em;
    text-align: center;
    margin-bottom: 12px;
    cursor: pointer;
}

.moji-extra-info-right{
    height: 90%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.moji-meaning,
.moji-reading{
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.moji-meaning-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
.moji-reading-grid .JA-FONT{
    font-size: 24px;
}
.moji-reading-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.moji-reading h3,
.moji-meaning h3,
.moji-radical-combination h3{
    background: #f1f1f1;
    width: fit-content;
    padding: 0.2rem 1rem;
    border-radius: 2px 10px 2px 10px;
    margin-bottom: 0.5rem;
}

.moji-radical{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    height: 46px;
    width: 46px;
    border-radius: 6px;
    background: #82c0cc;
    color: #FFFFFF;
    text-shadow: 1px 1px black;
    cursor: pointer;
    transition: 200ms;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.moji-radical:hover{
    transform: scale(2.5) translateY(-0.35rem);
}

.radical-combination-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.moji-radical-combination p{
    display: inline-block;
}
.moji-radical-combination img{
    width: 24px;
}

.extra-info-toppanel{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    border-radius: 4px;
    padding: 0.25em 0.4em 0.25em 0.25em;
}

.extra-info-toppanel div{
    padding: 0.75em;
    border: 2px solid black;
    min-width: 1.2em;
    cursor: pointer;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
}
.extra-info-toppanel div:last-child{
    font-weight: 700;
    font-size: 24px;
    padding: 0;
    height: 42px;
    width: 42px;
    background: #ccd5ae;
    text-shadow: 1px 1px #b1cb48;
}
.extra-info-toppanel div:first-child{
    border-right: 2px solid black;
    background: #cad34a;
    text-shadow: 1px 1px #b5bd43;
    padding: 0.25rem;
}
.extra-info-toppanel div:first-child img{
    height: 32px;
    margin-right: 8px;
}

.extra-info-toppanel div:hover{
    filter: hue-rotate(180deg);
}

/*Srs extra info*/
.srs-extra-info-window{
    visibility: hidden;
    display: none;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 800px;
    height: 500px;
    cursor: default;
}
.srs-egg{
    background-color: #484848;
    padding: 1em;
    border-radius: 6px;
    height: 160px;
}
.srs-extra-info-window h3{
    border-radius: 2px 10px 2px 10px;
    background: #f1f1f1;
    margin: 0.5em;
}

.srs-content{
    border-left: 2px solid #484848;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.srs-content h3{
    display: block;
    align-self: start;
    text-align: start;
    padding: 0  1em 0 1em;
}
.srs-content h3:first-child{
    margin-bottom: 0;
    margin-left: 0.2em;
    font-size: 1rem;
}

.srs-grid{
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    row-gap: 0.5em;
    margin-top: 2em;
    background: #f1f1f1;
    border-radius: 10px 2px 10px 2px;
    padding: 0.4em;
    align-items: center;
    margin-right: 0.5em;
}
.srs-grid img{
    height: 22px;
}

.srs-items-grid{
    display: grid;
    grid-template-columns: repeat(5, 64px);
    column-gap: 1em;
    margin-bottom: 1.25em;
}
/*Image*/
.kobayashi-newspaper-image{
    position: fixed;
    bottom: -0.5em;
    left: 0;
}
.kobayashi-newspaper-image img{
    height: 320px;
}


/*Item-level*/
.item-level-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 1200px;
    max-height: 150px;
    margin-inline: auto;
    justify-content: space-evenly;
    margin-top: 2em;
    background: #FEFEFE;
    padding: 4em 1em 1em 1em;
    border-radius: 12px;
    border: 2px solid black;
    box-shadow: 1px 1px 1px black;
}
.item-level-container h3{
    position: absolute;
    left: 1em;
    top: 1em;
    font-weight: bold;
}

.apprentice-block,
.guru-block,
.master-block,
.enlightened-block,
.burned-block{
    width: 208px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 1px 1px black;
    cursor: pointer;
    text-align: center;
    transition: 300ms;
    position: relative;
}
.apprentice-block:hover,
.guru-block:hover,
.master-block:hover,
.enlightened-block:hover,
.burned-block:hover{
    height: 250px;
    transform: translateY(-1em) skewx(1deg) scale(1.1);
}

.apprentice-block:hover .item-level,
.guru-block:hover .item-level,
.master-block:hover .item-level,
.enlightened-block:hover .item-level,
.burned-block:hover .item-level{
    margin-bottom: 5em;
}

.apprentice-block:hover .item-level-info,
.guru-block:hover .item-level-info,
.master-block:hover .item-level-info,
.enlightened-block:hover .item-level-info,
.burned-block:hover .item-level-info{
    animation: showLevelInfo 350ms ease-in forwards alternate;
}

.item-level-container div p{
    font-size: 16px;
    color: #FEFEFE;
    text-shadow: 1px 1px black;
    margin-top: 0.5em;
    transition: 300ms;
}

.apprentice-block{
    background-image: linear-gradient(to bottom, #e7c6ff, #c7a5e0);
}
.guru-block{
    background-image: linear-gradient(to bottom, #c5a6d7, #ae91be);
}
.master-block{
    background-image: linear-gradient(to bottom, #5e60ce, #4f51c0);
}
.enlightened-block{
    background-image: linear-gradient(to bottom, #34a0a4, #288a8d);
}
.burned-block{
    background-image: linear-gradient(to bottom, #33415c, #2a374f);
}

.item-level-info{
    margin-top: 1em;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3);
    border: 2px solid #FEFEFE;
    border-radius: 8px;
    padding: 0.2em;
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
    position: absolute;
    opacity: 0;
    bottom: 1em;
    left: 20px;
    background-blend-mode: darken;
}

/*Footer*/
footer{
    z-index: 0;
    height: 240px;
    position: absolute;
    bottom: -8px;
    left: -8px;
    right: -8px;
    background-image: url("../Resources/footer-image.gif");
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 1em;
}

footer div{
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 1px 1px 1px black;
    background: #FEFEFE;
    padding: 1em 2em;
    text-align: center;
}

footer a{
    display: block;
    margin-top: 0.4rem;
}

@keyframes showLevelInfo {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes tooltip {
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 0.96;
        transform: none;
    }
}

@keyframes extraInfoFlyIn {
    0%{
        transform: translateY(2em);
        opacity: 0.8;
    }
    100%{
        transform: none;
        opacity: 1;
    }
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 1200px){
    .item-level-container{
        max-height: max-content;
    }

}
@media (max-width: 800px){
    .reviews-lessons-container{
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    .reviews-button,
    .lessons-button{
        width: 90%; !important;
    }
}

@media (max-width: 675px){
    .extra-study-content{
        flex-direction: column;
    }
    .extra-study-button-container button{
        width: 100%;
    }
    .extra-study-button-container{
        width: 100%;
    }
    .extra-study-image-container img{
        width: 80%;
    }
}